<a href="https://colab.research.google.com/github/mariyagolchin/IntermediatePandasPythonLibraryforDataScience/blob/main/Task_4_Sorting_by_index_and_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
df

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [13]:
df1 = df.sort_values(by=['col1'],ascending=True)
print(df1)

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

In [16]:
df2 = df.sort_values(by=['col2'],ascending=True)
print(df2)

  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D
2    B     9     9    c

In [18]:
df3 = df.sort_index(axis=0,ascending=True)
print(df3)

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F