<a href="https://colab.research.google.com/github/mariyagolchin/IntermediatePandasPythonLibraryforDataScience/blob/main/Task_6_Grouping%2C_calculation_of_aggregate_and_binning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Groupping data

# Binning data

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv("https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/master/What_does_aid_to_Africa_finance_1.csv ")
df.head()

       countryc  year  ...              dcnlnhthp              dcnlnothp
0  Burkina Faso  1970  ...  1.79769313486232e+308  1.79769313486232e+308
1  Burkina Faso  1970  ...  1.79769313486232e+308  1.79769313486232e+308
2  Burkina Faso  1971  ...  1.79769313486232e+308  1.79769313486232e+308
3  Burkina Faso  1972  ...  1.79769313486232e+308  1.79769313486232e+308
4  Burkina Faso  1973  ...                      0      -0.11642000079155

[5 rows x 50 columns]

In [6]:
df1=df.groupby(['countryc','year']).groups
df1

{('Botswana', 1970): [28], ('Botswana', 1971): [29], ('Botswana', 1972): [30], ('Botswana', 1973): [31], ('Botswana', 1974): [32], ('Botswana', 1975): [33], ('Botswana', 1976): [34], ('Botswana', 1977): [35], ('Botswana', 1978): [36], ('Botswana', 1979): [37], ('Botswana', 1980): [38], ('Botswana', 1981): [39], ('Botswana', 1982): [40], ('Botswana', 1983): [41], ('Botswana', 1984): [42], ('Botswana', 1985): [43], ('Botswana', 1986): [44], ('Botswana', 1987): [45], ('Botswana', 1988): [46], ('Botswana', 1989): [47], ('Botswana', 1990): [48], ('Botswana', 1991): [49], ('Botswana', 1992): [50], ('Botswana', 1993): [51], ('Botswana', 1994): [52], ('Botswana', 1995): [53], ('Burkina Faso', 1970): [0, 1], ('Burkina Faso', 1971): [2], ('Burkina Faso', 1972): [3], ('Burkina Faso', 1973): [4, 5], ('Burkina Faso', 1974): [6], ('Burkina Faso', 1975): [7], ('Burkina Faso', 1976): [8], ('Burkina Faso', 1977): [9], ('Burkina Faso', 1978): [10], ('Burkina Faso', 1979): [11], ('Burkina Faso', 1980): [12], ('Burkina Faso', 1981): [13], ('Burkina Faso', 1982): [14], ('Burkina Faso', 1983): [15], ('Burkina Faso', 1984): [16], ('Burkina Faso', 1985): [17], ('Burkina Faso', 1986): [18], ('Burkina Faso', 1987): [19], ('Burkina Faso', 1988): [20], ('Burkina Faso', 1989): [21], ('Burkina Faso', 1990): [22], ('Burkina Faso', 1991): [23], ('Burkina Faso', 1992): [24], ('Burkina Faso', 1993): [25], ('Burkina Faso', 1994): [26], ('Burkina Faso', 1995): [27], ('Cameroon', 1970): [54], ('Cameroon', 1971): [55], ('Cameroon', 1972): [56], ('Cameroon', 1973): [57], ('Cameroon', 1974): [58], ('Cameroon', 1975): [59], ('Cameroon', 1976): [60], ('Cameroon', 1977): [61], ('Cameroon', 1978): [62], ('Cameroon', 1979): [63], ('Cameroon', 1980): [64], ('Cameroon', 1981): [65], ('Cameroon', 1982): [66], ('Cameroon', 1983): [67], ('Cameroon', 1984): [68], ('Cameroon', 1985): [69], ('Cameroon', 1986): [70], ('Cameroon', 1987): [71], ('Cameroon', 1988): [72], ('Cameroon', 1989): [73], ('Cameroon', 1990): [74], ('Cameroon', 1991): [75], ('Cameroon', 1992): [76], ('Cameroon', 1993): [77], ('Cameroon', 1994): [78], ('Cameroon', 1995): [79], ('Ethiopia', 1970): [80], ('Ethiopia', 1971): [81], ('Ethiopia', 1972): [82], ('Ethiopia', 1973): [83], ('Ethiopia', 1974): [84], ('Ethiopia', 1975): [85], ('Ethiopia', 1976): [86], ('Ethiopia', 1977): [87], ('Ethiopia', 1978): [88], ('Ethiopia', 1979): [89], ('Ethiopia', 1980): [90], ('Ethiopia', 1981): [91], ('Ethiopia', 1982): [92], ('Ethiopia', 1983): [93], ('Ethiopia', 1984): [94], ('Ethiopia', 1985): [95], ('Ethiopia', 1986): [96], ('Ethiopia', 1987): [97], ('Ethiopia', 1988): [98], ('Ethiopia', 1989): [99], ('Ethiopia', 1990): [100], ('Ethiopia', 1991): [101], ...}

{('Botswana', 1970): [28], ('Botswana', 1971): [29], ('Botswana', 1972): [30], ('Botswana', 1973): [31], ('Botswana', 1974): [32], ('Botswana', 1975): [33], ('Botswana', 1976): [34], ('Botswana', 1977): [35], ('Botswana', 1978): [36], ('Botswana', 1979): [37], ('Botswana', 1980): [38], ('Botswana', 1981): [39], ('Botswana', 1982): [40], ('Botswana', 1983): [41], ('Botswana', 1984): [42], ('Botswana', 1985): [43], ('Botswana', 1986): [44], ('Botswana', 1987): [45], ('Botswana', 1988): [46], ('Botswana', 1989): [47], ('Botswana', 1990): [48], ('Botswana', 1991): [49], ('Botswana', 1992): [50], ('Botswana', 1993): [51], ('Botswana', 1994): [52], ('Botswana', 1995): [53], ('Burkina Faso', 1970): [0, 1], ('Burkina Faso', 1971): [2], ('Burkina Faso', 1972): [3], ('Burkina Faso', 1973): [4, 5], ('Burkina Faso', 1974): [6], ('Burkina Faso', 1975): [7], ('Burkina Faso', 1976): [8], ('Burkina Faso', 1977): [9], ('Burkina Faso', 1978): [10], ('Burkina Faso', 1979): [11], ('Burkina Faso', 1980): [12], ('Burkina Faso', 1981): [13], ('Burkina Faso', 1982): [14], ('Burkina Faso', 1983): [15], ('Burkina Faso', 1984): [16], ('Burkina Faso', 1985): [17], ('Burkina Faso', 1986): [18], ('Burkina Faso', 1987): [19], ('Burkina Faso', 1988): [20], ('Burkina Faso', 1989): [21], ('Burkina Faso', 1990): [22], ('Burkina Faso', 1991): [23], ('Burkina Faso', 1992): [24], ('Burkina Faso', 1993): [25], ('Burkina Faso', 1994): [26], ('Burkina Faso', 1995): [27], ('Cameroon', 1970): [54], ('Cameroon', 1971): [55], ('Cameroon', 1972): [56], ('Cameroon', 1973): [57], ('Cameroon', 1974): [58], ('Cameroon', 1975): [59], ('Cameroon', 1976): [60], ('Cameroon', 1977): [61], ('Cameroon', 1978): [62], ('Cameroon', 1979): [63], ('Cameroon', 1980): [64], ('Cameroon', 1981): [65], ('Cameroon', 1982): [66], ('Cameroon', 1983): [67], ('Cameroon', 1984): [68], ('Cameroon', 1985): [69], ('Cameroon', 1986): [70], ('Cameroon', 1987): [71], ('Cameroon', 1988): [72], ('Cameroon', 1989): [73], ('Cameroon', 1990): [74], ('Cameroon', 1991): [75], ('Cameroon', 1992): [76], ('Cameroon', 1993): [77], ('Cameroon', 1994): [78], ('Cameroon', 1995): [79], ('Ethiopia', 1970): [80], ('Ethiopia', 1971): [81], ('Ethiopia', 1972): [82], ('Ethiopia', 1973): [83], ('Ethiopia', 1974): [84], ('Ethiopia', 1975): [85], ('Ethiopia', 1976): [86], ('Ethiopia', 1977): [87], ('Ethiopia', 1978): [88], ('Ethiopia', 1979): [89], ('Ethiopia', 1980): [90], ('Ethiopia', 1981): [91], ('Ethiopia', 1982): [92], ('Ethiopia', 1983): [93], ('Ethiopia', 1984): [94], ('Ethiopia', 1985): [95], ('Ethiopia', 1986): [96], ('Ethiopia', 1987): [97], ('Ethiopia', 1988): [98], ('Ethiopia', 1989): [99], ('Ethiopia', 1990): [100], ('Ethiopia', 1991): [101], ...}

In [7]:
# aggregation of a group
df2=df.groupby(['countryc','year']).agg(np.mean)
df2

                     popn
countryc  year
Botswana  1970   647390.0
          1971   647390.0
          1972   672870.0
          1973   699530.0
          1974   727030.0
...                   ...
Mauritius 1992  1081000.0
          1993  1097000.0
          1994  1113000.0
          1995  1128000.0
          1996        NaN

[299 rows x 1 columns]

In [9]:
# shape is a tuple that gives dimensions of the array.

df.shape

(301, 50)

In [24]:
# bin the data according to year
df5=df['year'].shape
df5

(301,)

In [29]:
df6= pd.qcut(df['year'],q=2).value_counts()
df6

(1969.999, 1982.0]    156
(1982.0, 1996.0]      145
Name: year, dtype: int64

In [31]:
df7= pd.qcut(df['year'],q=3).value_counts()
df7

(1969.999, 1978.0]    110
(1978.0, 1987.0]      101
(1987.0, 1996.0]       90
Name: year, dtype: int64

In [13]:
df3= pd.qcut(df['popn'],q=7).value_counts()
df3

(16616600.0, 56404000.0]       43
(2652272.857, 7886652.857]     43
(463999.999, 953097.143]       43
(10664697.143, 16616600.0]     42
(7886652.857, 10664697.143]    42
(1377285.714, 2652272.857]     42
(953097.143, 1377285.714]      42
Name: popn, dtype: int64

In [21]:
# So, when you ask for quintiles with qcut,
# the bins will be chosen so that you have the same number of records in each bin.
# You have 30 records, so should have 6 in each bin (your output should look like this, 
# although the breakpoints will differ due to the random draw):

factors = np.random.randn(30)
c=pd.qcut(factors, 5).value_counts()  #==>same value in 5 cell
print(c)

print('\n')
d=pd.cut(factors, 5).value_counts()
print(d)

(-2.537, -0.891]    6
(-0.891, -0.161]    6
(-0.161, 0.449]     6
(0.449, 1.023]      6
(1.023, 2.09]       6
dtype: int64


(-2.541, -1.611]    2
(-1.611, -0.686]    6
(-0.686, 0.239]     8
(0.239, 1.165]      9
(1.165, 2.09]       5
dtype: int64